# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# SQLite database
*.db
*.sqlite3

# Logs and other system files
*.log

# VS Code settings
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/